 <!-- <h1>LIVE CORONA DETAILS </h1>
 <h2>WORLD WIDE </h2>


     <button type="submit" routerLink="/country">country-wise Details</button>
     <button type="submit" routerLink="/city">city-wise Details</button>
     <button type="submit" routerLink="/province">provnce-wise Details</button>
     <button type="submit" routerLink="/travel">travel-wise Details</button>
     <button type="submit" routerLink="/news">news-wise Details</button>
 <app-city> </app-city>

 <app-country> </app-country>
 <app-news> </app-news>
 <app-province> </app-province>
 <app-travel> </app-travel> -->
 <div class="ve"><router-outlet></router-outlet></div>
