<h1> </h1>
<button  (click)="getData()"    >ALL CITY DATA</button>
<input  name="inp" #box (keyup.enter)="getcityData(box.value)" placeholder="type the city name" (blur)="0" >
<div id="panel" >
    
    <table >
        <tr >
            <th>LOCATION</th>
            <th>CONFIRMED</th>
            <th>DEAD</th>
          </tr>
    <tr >
    
        <td>{{cityName}}
        </td>
        <td>
            {{cityConfirmed}}
        </td>
        <td>
            {{cityDead}}
        </td>
    </tr>
    </table>
    
   


  <table>  
<tr *ngFor="let p of detail">

    <td>{{p.location}}
    </td>
    <td>
        {{p.confirmed}}
    </td>
    <td>
        {{p.dead}}
    </td>
</tr>
</table>
</div>
<!--<li>{{cityName}} {{cil}} {{cityConfirmed}}</li>
        <li>{{cityRecovered}}</li>
        <li>{{cityDead}}</li>-->