<div class="mycontainer">
<div class="row">
    <div class="col1 fc bg-success">
        <p><img src="assets\doctor.svg" alt=""><br>
            <span>ABOUT</span><BR>
            COVID-19 is a never before encountered member of the coronavirus family. Fostering its growth in a Wuhan food market, the virus has now spread to 185 nations and counting.<br>
            <a href="https://www.trackcorona.live/informed">Stay Informed--> </a>
        </p>
    </div>
     <div class="col1 fc bg-success">
            <p><img src="assets\travel.svg" alt=""><br>
                <span>TRAVEL</span><br>
                View information about how the world is responding to the virus by enacting travel bans, closing borders, and much more. Also find out the impact the virus has had on your local community.<br>
                <a href="">View Bans--></a>
            </p>
    </div>
    <div class="col1 fc bg-success">
        <p><img src="assets\world.svg" alt=""><br>
            <span>HISTORY</span><br>
        See the spread of the Novel Coronavirus from January 22, 2020 to current day in a map visualization to understand the rate of growth and global impact the virus has had thus far.<br>
    <a href="https://www.trackcorona.live/mapanimated">Watch it unfold--></a></p>
    </div>
</div>
</div>
<!-- 
<div class="container bg-success" >
    <div class="row">

    </div>
</div> -->
