*{
    /* background-color: brown; */
    /* color: white; */

}




.novel{
    color: white;
    text-align: center;
    font-weight: 900px;
    font-style:bold ;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 50px;
    padding-bottom: 20px;
    text-decoration: underline;
    padding-top: 2%;

}
.dropdown{
    margin-left: 20%;
}

button{
    margin-top: 3%;
    margin-left: 40%;
    width: 20%;
    font-size: xx-large;
    height: 10%;
    background-color: black;
    border: 1px solid black;
    border-radius: 15px;
}