<div class="clo">
    <div id="container">
    CORONA LIVE UPDATE WEBSITE!!!
   
 </div>
 
    <div class="row">
        <div class="col-sm-10 col-md-10 col-lg-6" >
            <img src="assets/covid-world-map.png" class="img-responsive fit-image" >
            </div>
            <div class="col-sm-10 col-md-10 col-lg-6">
                <img src="assets/2.png" class="img-responsive fit-image" >
                </div>
      </div>
    <div class="latest">
      LATEST DATA*
      <div class="dropdown " >
        <select class="drop" name="" id="" #vl (change)="nav(vl.value)" >
          <option value="" disabled selected> SELECT YOUR ORIGIN</option>
 
             <option value="/city"  ><h3 routerLink="/city">--CITY--</h3>
            </option>
             <option value="/country" ><h3 routerLink="/country">--COUNTRY--</h3></option>
             <option value="/travel" ><h3 routerLink="/travel">--TRAVEL--</h3></option>
            </select>
        
   </div>
    </div>
    

      <!--<div class="col" style="background-color:lavender;">.col</div>
      <div class="col" style="background-color:orange;">.col</div>
      <div class="col" style="background-color:lavender;">.col</div>-->