
<button (click)="getData()">show Country Wise </button>
<input #box (keyup.enter)="getIndiaData(box.value)" placeholder="Type The country name">

    
   <div id="panel" >
    <table  >
        <tr >
            <th>LOCATION</th>
            <th>CONFIRMED</th>
            <th>DEAD</th>
          </tr>
    <tr >
    
        <td>{{countryName}} 
        </td>
        <td>
            {{countryConfirmed}}
        </td>
        <td>
            {{countryDead}}
        </td>
    </tr>   
    </table>

    <table >


<tr *ngFor="let p of detail">

    <td>{{p.location}}
    </td>
    <td>
        {{p.confirmed}}
    </td>
    <td>
        {{p.dead}}
    </td>
</tr>
</table>    

</div>