<h1></h1>
<button (click)="getData()">show Travel details</button>
<input type="text" #vl placeholder="travel details " (keyup.enter)="getCountryData(vl.value)">


<div id="panel" >
    <table>
        <th>LOCATION</th>
        <th>
            DATA
        </th>
        <tr >
           <td>{{countryName}}  </td> 
           <td>
               <ul *ngFor="let i of countryArr">
                <li >{{i}}<br></li>
               </ul>
           
           </td>
        </tr>
    </table>
   
   

<table>
    
<tr *ngFor="let p of det">
    <td>{{p.location}}
    </td>
    <td>
        {{p.data}}
    </td>
</tr>
</table>
</div>